@font-face {
    font-family: "FjallaOne";
    src: url("../fonts/FjallaOne-Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "WorkSans";
    src: url("../fonts/WorkSans-Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "WorkSans", sans-serif;
}

h1 {
    font-family: "FjallaOne", sans-serif;
}