@font-face {
    font-family: "FjallaOne";
    src: url("../fonts/FjallaOne-Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "WorkSans";
    src: url("../fonts/WorkSans-Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: "WorkSans", sans-serif;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100px;
}

h1 {
    font-family: "FjallaOne", sans-serif;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 20px;
}

fieldset {
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

